HomepageHeading {
    color: red;
}

.headBanner{
    background-image: url("./rib1.jpg") !important;
    background-repeat: none !important;
    /* background-size: auto; */
    background-position:center !important;
    background-repeat:no-repeat !important;
    background-size:cover !important;
}

.menuBar{
    background-color:black !important;
}

.pageMap{
    position:relative !important;
    display:flex !important; 
    justify-Content: center !important; 
    align-content:center !important;
}
 theActualMap{    
    position:relative !important;
    display:flex !important; 
    justify-Content: center !important; 
    align-content:center !important;

 }
/* .orderButton{
    font-size:"1em";

} */