HomepageHeading {
    color: red;
}

.headBanner{
    background-image: url("./rib1.jpg") !important;
    background-repeat: none !important;
    /* background-size: auto; */
    background-position:center !important;
    background-repeat:no-repeat !important;
    background-size:cover !important;
}

.menuBar{
    background-color:black !important;
}

.facebookIcon{
    display: flex; 
    height: 30px;
    width: 30px;   
}

.yelpIcon{
    display: flex;  
    height: 30px; 
    width: 30px; 
}
/* 
.pageMap{
    position:relative !important;
    display:flex !important; 
    justify-Content: center !important; 
    align-content:center !important;
}
 theActualMap{    
    position:relative !important;
    display:flex !important; 
    justify-Content: center !important; 
    align-content:center !important;

 } */